/* headers  */

.first_header,
h2 {
  color: green;
  margin-bottom: 15px;
}

.second_header {
  color: red;
  margin-bottom: 15px;
}

p {
  color: brown;
}

nav ul li {
  display: inline;
  margin: 20px 120px 20px 75px;
}

header,
footer {
  background-color: rgb(26, 20, 8);
  margin: 40px;
  margin-right: 980px;
  padding: 20px;
  border: 1px solid #ccc;
}

.footer_txt {
  color: bisque;
}

#logo {
  width: 200px;
  height: 150px;
}

/* sections  */

.first_section,
.second_section,
.third_section,
.fourth_section {
  border-radius: 15px;
  padding: 20px;
  width: 800px;
  margin: 20px auto;
}

.first_section {
  border: 5px solid yellowgreen;
}

.second_section {
  border: 5px solid blueviolet;
}

.third_section {
  border: 5px solid orange;
}

.map {
  width: 800px;
  height: 450px;
  margin-top: 15px;
}


